#define MANIFEST 24
#define IDD_DIALOG 1000
#define IDC_CONS 1001
#define IDC_GO 1002
#define IDC_CLEAR 1003
#define IDC_GRP1 1004
#define IDC_FILENAME 1005
#define IDC_CHOOSE 1006
#define IDC_COMP 1007
#define IDC_FORCE 1008
#define IDC_JAR 1009
#define IDC_SIGN 1010
#define IDC_JD 1011
#define IDC_ZIP 1012
#define IDC_INSTALL 1013
#define IDC_DEVICES 1014
#define IDC_GRP2 1015
#define IDC_GRP3 1016
#define IDC_GRP4 1017
#define IDC_SAVE 1018
#define IDC_MANIFEST 1019
#define IDC_GREP 1021
#define IDC_EXPLORE 1020
#define IDC_GRP5 1022
#define IDC_SNIPPET 1023
#define IDC_NOTE 1024
#define IDC_LOGCAT 1025
#define IDC_LISTAPK 1026
#define IDC_PULL 1027
#define IDR_MENU 10000
#define IDM_SETTING 10002
#define IDM_FILE_EXIT 10001
#define IDM_HELP_ABOUT 10101
#define MAINICON 100
#define ANDROID 101
#define IDD_SETTING 1100
#define IDC_SSAVE 1101
#define IDC_SAVEPATH 1102
#define IDC_STC1 1103
#define IDC_SCANCEL 1104
#define IDC_GREPPATH 1105
#define IDC_STC2 1106
#define IDC_SCLEAN 1107
#define IDC_TAG 1108
#define IDC_STC3 1109
#define IDR_XPMANIFEST1 1
#define IDD_NOTES 1200
#define IDC_NOTES 1201
#define IDC_SAVENOTES 1202
#define IDD_APK 1300
#define IDC_APKNAME 1301
#define IDC_OK 1302
#define IDC_LAPK 1303

IDD_DIALOG DIALOGEX -1,-21,474,405
CAPTION "ApkTools Gui by SVz 2o11 v1"
FONT 8,"MS Sans Serif",0,0,0
CLASS "DLGCLASS"
MENU IDR_MENU
STYLE 0x10CA0800
BEGIN
  CONTROL "",IDC_CONS,"Edit",0x50210844,3,93,468,309,0x00020000
  CONTROL "Decompile",IDC_GO,"Button",0x58018000,9,42,65,18
  CONTROL "",IDC_CLEAR,"Button",0x50018040,434,3,31,24
  CONTROL "",IDC_GRP1,"Button",0x50000007,3,-3,465,32
  CONTROL "",IDC_FILENAME,"Edit",0x50010801,14,8,325,12,0x00000200
  CONTROL "Select Apk",IDC_CHOOSE,"Button",0x50018000,351,7,75,16
  CONTROL "Compile",IDC_COMP,"Button",0x58018000,9,66,65,18
  CONTROL "-F (Overwrite)",IDC_FORCE,"Button",0x58010003,81,45,54,15
  CONTROL "Dex2Jar",IDC_JAR,"Button",0x58018000,150,45,40,15
  CONTROL "Sign",IDC_SIGN,"Button",0x58018000,150,66,40,15
  CONTROL "Java Dec",IDC_JD,"Button",0x58018000,194,45,40,15
  CONTROL "Zip align",IDC_ZIP,"Button",0x58018000,194,66,40,15
  CONTROL "install",IDC_INSTALL,"Button",0x58018000,249,71,42,15
  CONTROL "devices",IDC_DEVICES,"Button",0x50018000,249,39,42,15
  CONTROL "ApkTool",IDC_GRP2,"Button",0x50000007,3,30,137,60
  CONTROL "",IDC_GRP3,"Button",0x50000007,142,30,99,60
  CONTROL "adb",IDC_GRP4,"Button",0x50000007,243,30,100,60
  CONTROL "Save Apk",IDC_SAVE,"Button",0x58018000,408,38,54,15
  CONTROL "Manifest.xml",IDC_MANIFEST,"Button",0x58018000,408,55,54,15
  CONTROL "Win Grep",IDC_GREP,"Button",0x50018000,351,38,54,15
  CONTROL "Explore dump",IDC_EXPLORE,"Button",0x58018000,351,55,54,15
  CONTROL "",IDC_GRP5,"Button",0x50000007,345,30,123,60
  CONTROL "Snippet Code",IDC_SNIPPET,"Button",0x50018000,351,72,54,15
  CONTROL "Crack Notes",IDC_NOTE,"Button",0x50018000,408,72,54,15
  CONTROL "logcat",IDC_LOGCAT,"Button",0x50018000,249,55,42,15
  CONTROL "List apk",IDC_LISTAPK,"Button",0x50018000,296,47,45,15
  CONTROL "Pull apk",IDC_PULL,"Button",0x50018000,296,64,45,15
END

IDR_MENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Setting",IDM_SETTING
    MENUITEM "&Exit",IDM_FILE_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END

MAINICON ICON DISCARDABLE "1310998135_android.ico"
ANDROID ICON DISCARDABLE "Google-Android.ico"

IDD_SETTING DIALOGEX 10,10,219,82
CAPTION "Setting"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80800
EXSTYLE 0x00000080
BEGIN
  CONTROL "Save",IDC_SSAVE,"Button",0x50018000,120,62,46,17
  CONTROL "",IDC_SAVEPATH,"Edit",0x50010080,51,8,162,11,0x00020000
  CONTROL "Save Path :",IDC_STC1,"Static",0x50000000,6,9,42,9
  CONTROL "Cancel",IDC_SCANCEL,"Button",0x50018000,168,62,46,17
  CONTROL "",IDC_GREPPATH,"Edit",0x50010080,51,26,162,11,0x00020000
  CONTROL "Grep Path :",IDC_STC2,"Static",0x50000000,6,27,42,9
  CONTROL "Auto clean useless file",IDC_SCLEAN,"Button",0x50010003,13,62,84,12
  CONTROL "",IDC_TAG,"Edit",0x50010080,51,43,94,11,0x00020000
  CONTROL "LogCat's tag :",IDC_STC3,"Static",0x50000000,5,44,42,9
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

IDD_NOTES DIALOGEX 10,10,539,361
CAPTION "Crack Notes"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10CF0800
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_NOTES,"Edit",0x50310004,1,1,536,339,0x00000200
  CONTROL "Save Notes",IDC_SAVENOTES,"Button",0x50010000,197,343,145,16
END

IDD_APK DIALOGEX 3,60,273,28
CAPTION "Pull apk"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10CF0800
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_APKNAME,"Edit",0x50010000,11,10,222,13,0x00000200
  CONTROL "OK",IDC_OK,"Button",0x50010000,237,10,31,15
  CONTROL "",IDC_LAPK,"ListBox",0x50310141,5,30,662,354,0x00000200
END

